---
---

@import "{{ site.theme }}";

.wrapper {
  width:860px;
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  
  // old was width 1200, left side 270
  // try total width 860 to make it better on mobile
  // 590 left for content
  margin:0 auto;
}

section {
  width:560px;  // change from 900 to 610 to 590 to 560
  float:right;
  padding-bottom:50px;
}
